include ../_blocks/_all-blocks.pug

block vars

    - var SiteName = 'Helsplav'
    - var PageId = 'cancellation'
    - var PageTitle = SiteName + ' — Cancellation'
    - var PageDescription = 'Helsplav.com is a simplified, reliable and secure support for the management and cancellation of your subscriptions.'

    - var LANG = 'en'
    - var TITLE  = PageTitle
    - var DESCRIPTION  = PageDescription

    - var documentMods = ''

    - var ogUrl = 'http://helsplav.com/'
    - var ogTitle = PageTitle
    - var ogDescription = PageDescription
    - var ogType = 'helsplav'

doctype html
html(lang=LANG class=documentMods)
  
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible' content='ie=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no')

        title=TITLE
        meta(name='description' content=DESCRIPTION)

        meta(property='og:title' content=ogTitle)
        meta(property='og:description' content=ogDescription)
        meta(property='og:type' content=ogType)
        meta(property='og:url' content=ogUrl)
        meta(property="og:image:width" content="1200")
        meta(property="og:image:height" content="630")
        meta(property='og:image' content=ogUrl + 'img/og__image1200x630.jpg?' + releaseDateVer)
        meta(property='vk:image' content=ogUrl + 'img/og__image1200x630.jpg?' + releaseDateVer)

        meta(name='msapplication-tap-highlight' content='no')
        meta(name='cleartype' content='on')
        meta(name='HandheldFriendly' content='True')
        //- Edge and some mobile browsers are very smart. Let's turn that off.
        meta(name='format-detection', content='telephone=no')
        meta(name='format-detection', content='date=no')
        meta(name='format-detection', content='address=no')
        meta(name='format-detection', content='email=no')
        meta(content='notranslate', name='google')
        
        link(rel="apple-touch-icon" sizes="180x180" href="./img/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="./img/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="./img/favicon/favicon-16x16.png")
        link(rel="mask-icon" href="./img/favicon/safari-pinned-tab.svg" color="#0B0B0B")
        meta(name="msapplication-TileColor" content="#0B0B0B")
        meta(name="theme-color" content="#ffffff")

        link(href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap" rel="stylesheet")
        link(href="./css/index.min.css" rel="stylesheet")
  
    body
        #root
            +navbar({
                id: PageId,
                SiteName: SiteName
            })

            section.head.bg-light#decorations-5
                .container 
                    .row.text-center
                        .col-lg-8.offset-lg-2
                            h1 Do you wish to 
                                span.text-primary.heading-decoration-right cancel 
                                br.d-none.d-lg-block
                                | your subscription
                            strong No problem, just fill in the email address you used when you subscribed!
                    .row.mt-5
                        .col-lg-8.offset-lg-2.col-xxl-6.offset-xxl-3
                            form(action="")#unsubscribe
                                .form-group 
                                    .icon.icon_sms-neutral
                                    input.form-control#email(type="text" name="email" placeholder="Email address")
                                button.btn.btn-primary(type="submit") Cancellation

            section 
                .container 
                    .row.text-center
                        .col
                            .pre-title Features
                            h2 Cancel your subscription
                            p Our service allows you to cancel your subscription simply and instantaneously
                    .row.mt-5
                        .col-lg-4
                            .shape-light 
                                .icon.icon-medium.icon_notification.mb-3
                                h3 Cancellation
                                p We have set up a particularly fast and efficient cancellation service at Search4manuals! Thanks to our new cancellation method.
                        .col-lg-4.mt-4.mt-lg-0
                            .shape-light 
                                .icon.icon-medium.icon_profile-2user.mb-3
                                h3 Trained teams
                                p S4manuals teams regularly attend training courses to ensure that they remain efficient and professional. 
                        .col-lg-4.mt-4.mt-lg-0
                            .shape-light 
                                .icon.icon-medium.icon_briefcase.mb-3
                                h3 Efficiency
                                p At S4manuals, we take pride in providing professional and efficient services. We believe that this is imperative when acting as a customer.

            section
                .container 
                    .row.text-center
                        .col 
                            .shape-primary
                                .pre-title Contact us
                                h2 We will answer any question
                                .row.mt-5
                                    .col-lg-4
                                        ul.icon-list
                                            li
                                                .icon.icon-big.icon_call.mb-3
                                                p.mb-1 Mon to Sat from 8am to 8pm 
                                                a.link(href="tel:14378863078") +1 437 886 3078
                                    .col-lg-4.mt-4.mt-lg-0
                                        ul.icon-list
                                            li
                                                .icon.icon-big.icon_message.mb-3
                                                p.mb-1 Directly on our website 
                                                a.link(href="https://helsplav.com") Helsplav.com
                                    .col-lg-4.mt-4.mt-lg-0
                                        ul.icon-list
                                            li
                                                .icon.icon-big.icon_sms.mb-3
                                                p.mb-1 Email address
                                                a.link(href="mailto:contact@helsplav.com") contact@helsplav.com

            section.bg-light#decorations-3
                .container 
                    .row.row-reverse-lg
                        .col-lg-5.offset-lg-1.col-md-8.offset-md-2.col-10.offset-1
                            .align-cols 
                                .br-image.decoration-right
                                    img(src="./img/cancellation-1.png" srcset="./img/cancellation-1@2x.png" alt="")
                        .col-lg-6.mt-5.mt-lg-0
                            .align-cols 
                                .pre-title FAQ
                                h2 Helpsav Frequently 
                                    br
                                    | Asked Questions
                                p However, if the question you wish to ask us is not answered on this page, we invite you to contact us directly, either by telephone on 
                                    a(href="tel:14378863078") +1 437 886 3078
                                    | , or by e-mail at 
                                    a(href="mailto:contact@helpsav.com") contact@helpsav.com
                                    | , or directly via our 
                                    a(href="contact.html") contact page
                                    |.
                                p The Helpsav consultants have put together an FAQ list to help you quickly find the answers you are looking for about the services offered by Hellodocu or about our customer service platform.
                                a.btn.btn-primary(href="faq.html") Learn more

            +footer({
                id: PageId,
                SiteName: SiteName
            })
                
        script(src="./js/bundle.js", defer)