include ../_blocks/_all-blocks.pug

block vars

    - var SiteName = 'Helsplav'
    - var PageId = 'about'
    - var PageTitle = SiteName + ' — About Us'
    - var PageDescription = 'Helsplav.com is a simplified, reliable and secure support for the management and cancellation of your subscriptions.'

    - var LANG = 'en'
    - var TITLE  = PageTitle
    - var DESCRIPTION  = PageDescription

    - var documentMods = ''

    - var ogUrl = 'http://helsplav.com/'
    - var ogTitle = PageTitle
    - var ogDescription = PageDescription
    - var ogType = 'helsplav'

doctype html
html(lang=LANG class=documentMods)

    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible' content='ie=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        
        title=TITLE
        meta(name='description' content=DESCRIPTION)
        
        meta(property='og:title' content=ogTitle)
        meta(property='og:description' content=ogDescription)
        meta(property='og:type' content=ogType)
        meta(property='og:url' content=ogUrl)
    
        meta(name='msapplication-tap-highlight' content='no')
        meta(name='cleartype' content='on')
        meta(name='HandheldFriendly' content='True')
        //- Edge and some mobile browsers are very smart. Let's turn off that.
        meta(name='format-detection', content='telephone=no')
        meta(name='format-detection', content='date=no')
        meta(name='format-detection', content='address=no')
        meta(name='format-detection', content='email=no')
        meta(content='notranslate', name='google')
        
        link(rel='apple-touch-icon', sizes='57x57', href='./img/favicon/apple-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href='./img/favicon/apple-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='./img/favicon/apple-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='./img/favicon/apple-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='./img/favicon/apple-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='120x120', href='./img/favicon/apple-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='144x144', href='./img/favicon/apple-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='152x152', href='./img/favicon/apple-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='./img/favicon/apple-icon-180x180.png')
        link(rel='icon', type='image/png', sizes='192x192', href='./img/favicon/android-icon-192x192.png')
        link(rel='icon', type='image/png', sizes='32x32', href='./img/favicon/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='96x96', href='./img/favicon/favicon-96x96.png')
        link(rel='icon', type='image/png', sizes='16x16', href='./img/favicon/favicon-16x16.png')
        link(rel='manifest', href='./img/favicon/manifest.json')
        meta(name='msapplication-TileColor', content='#ffffff')
        meta(name='msapplication-TileImage', content='/img/favicon/ms-icon-144x144.png')
        meta(name='theme-color', content='#ffffff')

        link(href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap" rel="stylesheet")
        link(href="./css/index.min.css" rel="stylesheet")
  
    body
        #root
            +navbar({
                id: PageId,
                SiteName: SiteName
            })

            section.head.bg-light#decorations-2
                .container 
                    .row 
                        .col-lg-6.offset-lg-0.col-md-8.offset-md-2.col-10.offset-1
                            .align-cols
                                .br-image.decoration-left
                                    img(src="./img/about-1.png" srcSet="./img/about-1@2x.png" alt="")
                        .col-lg-5.offset-lg-1.mt-5.mt-lg-0
                            .align-cols
                                .pre-title About us
                                h2 Customer 
                                    br
                                    | Service 
                                    span.text-primary platform
                                p That allows our customers to manage all their subscriptions taken out on our partner merchant sites at the same time, for greater simplicity and efficiency.
                                p Cancelling one of your subscriptions with a Helpsav partner site is thus a one-click process, after having entered your e-mail address associated with this subscription.

            section
                .container 
                    .row.text-center
                        .col 
                            .shape-primary
                                .pre-title Contact us
                                h2 We will answer any question
                                .row.mt-5
                                    .col-lg-4
                                        ul.icon-list
                                            li
                                                .icon.icon-big.icon_call.mb-3
                                                p.mb-1 Mon to Sat from 8am to 8pm 
                                                a.link(href="tel:14378863078") +1 437 886 3078
                                    .col-lg-4.mt-4.mt-lg-0
                                        ul.icon-list
                                            li
                                                .icon.icon-big.icon_message.mb-3
                                                p.mb-1 Directly on our website 
                                                a.link(href="https://helsplav.com") Helsplav.com
                                    .col-lg-4.mt-4.mt-lg-0
                                        ul.icon-list
                                            li
                                                .icon.icon-big.icon_sms.mb-3
                                                p.mb-1 Email address
                                                a.link(href="mailto:contact@helsplav.com") contact@helsplav.com

            section.bg-light#decorations-3
                .container 
                    .row.row-reverse-lg
                        .col-lg-5.offset-lg-1.col-md-8.offset-md-2.col-10.offset-1
                            .align-cols 
                                .br-image.decoration-right
                                    img(src="./img/about-2.png" srcset="./img/about-2@2x.png" alt="")
                        .col-lg-6.mt-5.mt-lg-0
                            .align-cols 
                                .pre-title FAQ
                                h2 Helpsav Frequently 
                                    br
                                    | Asked Questions
                                p However, if the question you wish to ask us is not answered on this page, we invite you to contact us directly, either by telephone on 
                                    a(href="tel:14378863078") +1 437 886 3078
                                    | , or by e-mail at 
                                    a(href="mailto:contact@helpsav.com") contact@helpsav.com
                                    | , or directly via our 
                                    a(href="contact.html") contact page
                                    |.
                                p The Helpsav consultants have put together an FAQ list to help you quickly find the answers you are looking for about the services offered by Hellodocu or about our customer service platform.
                                a.btn.btn-primary(href="faq.html") Learn more

            +footer({
                id: PageId,
                SiteName: SiteName
            })
                
        script(src="./js/bundle.js", defer)